[user]
	email = {{ .email | quote }}
	name = {{ .fullname | quote }}

{{ if (eq .chezmoi.os "linux") -}}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
# Use the Windows Git credential helper when running in WSL
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager-core.exe
{{   end -}}
{{ end -}}
