# vi:ft=gitconfig
{{ if (eq .chezmoi.os "linux") -}}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
# Use the Windows Git credential helper when running in WSL
[credential]
	helper = "/mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe"
{{   end -}}
{{ end -}}
[core]
	# Note: `toRawJson` is needed because on Windows, `.chezmoi.homeDir` returns the home path with the backslashes
	# unescaped
	excludesfile = {{ joinPath .chezmoi.homeDir ".gitignore" | toRawJson }}
[init]
	defaultBranch = main
[user]
	email = itaisteinherz@gmail.com
	name = Itai Steinherz
